.main {
    display: flex;
    flex-direction: row;
}

.first {
    width: 33%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.first h1 {
    text-align: center;
    border-bottom: 1px solid black;
}

.second {
    height: 100%;
    width: 33%;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second h1 {
    text-align: center;
    border-bottom: 1px solid black;
    position: relative;
    width: 100%;
}

.second img{
    margin: 25px 0 25px 0;
}


.third {
    height: 100%;
    width: 33%;
    border: 1px solid black;
    position: relative;
}

.third h1 {
    text-align: center;
    border-bottom: 1px solid black;
}




